<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cloudtips.sdk">

    <application>

        <activity android:name=".ui.TipsActivity"/>

        <activity android:name=".ui.CardActivity"/>

        <activity android:name=".ui.CompletionActivity"/>
    </application>
</manifest>